/* CSS declarations go here */

body 
	padding-top: 60px

@media (max-width: 979px)
	body
		padding-top: 0px


.signIn-hint
	position: absolute
	background-image: url(img/curved-arrow.png)
	width:180px
	height:380px
	background-size: 100%
	background-repeat: no-repeat;
	top: 10px
	right: 80px
	z-index: 2000


ol li:first-child
	font-weight: bold
	background: rgba(220,160,140,0.5);
